body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    color: #111111;
    background-color: #FAFAFA;
}

h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

address {
    font-style: normal;
}

.container {
    outline: 1px solid red;
    width: 1166px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    font-weight: 600;
    color: #111111;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

.span-title {
    color: #FD9222;
}

.header {}

.header-container {
    padding: 20px 32px;
    display: flex;
    align-items: center;
    gap: 90px;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.header-logo {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
    display: flex;
    align-items: center;
    gap: 14px;
}

.header-logo-span {
    font-style: italic;
}

.header-list-menu {
    display: flex;
    gap: 24px;
}

.header-item-menu {}

.header-link-menu {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    padding-top: 12px;
    padding-bottom: 12px;
}

.header-list-soc {
    display: flex;
    gap: 14px;
}

.header-item-soc {
    width: 40px;
    height: 40px;
}

.header-link-soc {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(17, 17, 17, 0.10);
    border-radius: 10px;
    color: #111111;
}

.header-link-soc:hover,
.header-link-soc:focus {
    border-color: rgba(253, 146, 34, 0.1);
    color:#FD9222;
}

.header-icon-soc {
    fill: currentColor
}


/* ========================HERO========================= */

.hero {
    padding-bottom: 80px;
}

.hero-container {
    background-color: rgba(17, 17, 17, 0.6);
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4), 
        rgba(17, 17, 17, 0.4)), 
        url(../images/desctop-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    padding: 381px 40px 40px 40px;
}

.hero-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
    min-width: 484px;
    padding-bottom: 32px;
    color: #FFFFFF;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-btn {
    background-color: #FD9222;
    color: #FFFFFF;
    border-radius: 100px;
    border: 1px solid #FD9222;
    padding: 14px 40px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    margin-right: 14px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #FCF1E0;
    border: 1px solid #FCF1E0;
    color: #FD9222;
}

.hero-link-btn {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 100px;
    padding: 14px 40px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
}

.hero-link-btn:hover,
.hero-link-btn:focus {
    color: #FD9222;
    border-color: #FD9222;
}

.hero-link-scrol {
    color: #FFFFFF;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: -0.03em;
    margin-left: auto;
    display: flex;
    gap: 14px;
    align-items: center;
}

.hero-link-scrol::after {
    content: '';
    width: 38px;
    height: 38px;
    background-color: #FFFFFF;
    border-radius: 50%;
    background-image: url(../images/angle-left.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.hero-link-scrol:hover,
.hero-link-scrol:focus {
    color: #FD9222;
}

.hero-link-scrol:hover::after {
    background-color: #FD9222;
    background-image: url(../images/angle-left-withe.svg)
}

/* ===========================FEATURES================================ */

.features {
    background-color: #1E1823;
    padding: 50px;
}

.teatures-title {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-align: center;
}

.features-container {}

.features-list {
    display: flex;
    justify-content: center;
    gap: 88px;
    padding-left: 18px;
    padding-right: 18px;
}

.features-item {
    width: calc((100% - 176px) / 3);
}

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #919090;
    border-radius: 50%;
    width: 62px;
    height: 62px;
}

.teatures-icon {
    fill: #FD9222;
}

.features-subtitle {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: normal;
    margin-bottom: 18px;
    margin-top: 19px;
}

.teatures-text {
    color: #919090;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
}

/* =================================TASTE==================================== */

.taste {
    padding: 120px 0;
}

.container-taste {}

.taste-title {}

.span-text {}

.taste-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 32px;
}

.taste-item {
    border-radius: 15px;
    padding: 28px 23px;
    width: calc((100% - 96px) / 4);
}

.taste-item:nth-child(4n + 1) {
    background-color: #FD9222;
    border: 1px solid #FD9222;
    color: #FFFFFF;
}

.taste-item:nth-child(4n + 3) {
    background-color: #1E1823;
    border: 1px solid #1E1823;
    color: #FFFFFF;
}

.taste-item:nth-child(2n) {
    background-color: #FFFFFF;
    border: 1px solid #FD9222;
    color: #111111;
}

.taste-img {
    margin-bottom: 36px;
}

.taste-subtitle {
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
}

/* =================================MADE================================== */

.made {
    padding-bottom: 120px;
}

.made-container {}

.made-title {}

.title {}

.span-title {}

.made-div {
    display: flex;
    gap: 20px;
}

.made-img {}

.made-div-content {
    padding: 32px 32px 0;
    background-color: #FFFFFF;
}

.made-sub-title {
    color: #111111;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: normal;
    margin-bottom: 28px;
    max-width: 350px;
}

.made-list {}

.made-item {}

.made-text {
    color: #111111;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    padding-bottom: 24px;
}

/* =====================================PRODUCTS=========================================== */

.products {
    padding-bottom: 120px;
}

.container {}

.products-container {}

.products-title {}

.title {}

.span-title {}

.products-content {
    text-align: center;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 18px;
}

.products-item {
    width: calc((100% - 54px)/ 4);
    padding: 32px 20px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 1px 1px 8px #dedddd;
    box-shadow: 0px 5px 10px 2px #dedddd;
}

.products-img {}

.products-subtitle {
    color: #111111;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    margin-bottom: 2px;
    text-transform: uppercase;
}

.products-text {
    color: #6a6868;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-transform: none;
    padding-bottom: 18px;
}

.products-btn {
    color: #111111;
    font-weight: 600;
    font-size: 18px;
    padding: 8px 19px;
    border: 1px solid #888787;
    border-radius: 100px;
}

/* =========================================TOP============================================ */

.top {
    padding-bottom: 120px;
}

.top-container {}

.top-title {}

.title {}

.span-title {}

.top-div-content {}

.top-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.top-item {
    width: calc((100% - 32px) / 3);
    border-radius: 15px;
    border: 1px solid #dedddd;
    box-shadow: 0px 5px 10px 2px #dedddd;
}

.top-img {}

.top-subtitle {
    padding: 28px 64px;
    background-color: #FFFFFF;
    color: #111111;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* =========================================LOVED=========================================== */

.loved {
    padding-bottom: 120px;
}

.container {}

.loved-container {}

.loved-title {
    margin-bottom: 91px;
}

.title {}

.span-title {}

.loved-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 28px;
    padding-bottom: 50px;
}

.loved-item {
    width: calc((100% - 56px)/ 3);
    border: 1px solid #dedddd;
    box-shadow: 0px 5px 10px 2px #dedddd;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 56px 24px 24px 24px;
}

.loved-img {}

.loved-subtitle {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: normal;
    background-color: #FFFFFF;
    color: #111111;
    text-transform: uppercase;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.loved-text {
    color: #6a6868;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-transform: none;
}

.loved-btn {
    color: #111111;
    font-family: inherit;
    font-size: 18psx;
    line-height: normal;
    padding: 14px 40px;
    border: 1px solid #FD9222;
    border-radius: 100px;
    display: block;
    margin: 0 auto;
    background-color: transparent;
}

.loved-btn:hover,
.loved-btn:focus {
    color: #FFFFFF;
    background-color: #FD9222;
}

/* ===================================FOOTER=========================================== */

.footer {
    padding: 50px 32px 86px 32px;
    background-color: #1E1823;
}

.footer-container {}

.footer-title {
    color: #FFFFFF;
    text-align: start;
    min-width: 300px;
    margin-right: auto;
}

.footer-content {
    display: flex;
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.footer-soc-div {
    margin-right: 50px;
}

.footer-text {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: normal;
    margin-bottom: 14px;
}

.footer-soc-list {
    display: flex;
    gap: 14px;
}

.footer-soc-item {}

.footer-soc-link {
    color: #FFFFFF;
}

.footer-icon-soc {
    fill: #FFFFFF;
}

.footer-addres-div {}

.foter-addres {}

.footer-text-addres {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: normal;
    margin-bottom: 14px;
}

.foter-addres-list {
    margin-bottom: 4px;
}

.foter-addres-item {}

.foter-addres-link {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;

}

.footer-nav {}

.footer-nav-list {
    display: flex;
    gap: 24px;
}

.footer-nav-item {}

.footer-nav-linl {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
}